<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"/>
  <title> Diabetes Test</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/dstyles.css">

  <!-- Font Awesome for Icons -->
  <script src="https://kit.fontawesome.com/0278cee5ca.js" crossorigin="anonymous"></script>

</head>

<body>

  <!-- Navigation -->
  <div class="navigation">
    <input type="checkbox" class="navigation-checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation-button">
      <span class="navigation-icon"> &nbsp; </span>
    </label>

    <!-- nbsp is used to give a white space in div -->
    <div class="navigation-background"> &nbsp; </div>

    <nav class="navigation-nav">
      <ul class="navigation-list">
        <li class="navigation-item"><a href="{{url_for('diabetes_view')}}#upload_data" class="navigation-link"> <span> 01 </span> TEST YOURSELF </a></li>
        <li class="navigation-item"><a href="{{url_for('home_view')}}" class="navigation-link"> <span> 02 </span> HOME PAGE </a></li>
        <li class="navigation-item"><a href="{{url_for('home_view')}}#contact" class="navigation-link"> <span> 03 </span> FEEDBACK </a></li>
        <li class="navigation-item"><a href="{{url_for('home_view')}}#about" class="navigation-link"> <span> 04 </span> CONTACT US </a></li>


      </ul>
    </nav>
  </div>

  <!-- Header -->

  <section class="header">

    <h1 class='mainhead'> Diabetes </h1>
    <h5 class='deschead'> Description </h5>
    <p class='descrip'> Diabetes mellitus, commonly known as Diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body
      either doesn’t make enough insulin or can’t effectively use the insulin it does make </p>
    <p> <a href="https://www.healthline.com/health/diabetes"> For More Information </a> </p>


  </section>

</section>



<section class="section-about">

  <div class="symp">

    <!-- Utility Class to center text and give margin bottom to h2 -->
    <div class="u-center-text u-margin-bottom-big">

      <h2 class="heading-secondary">
        Symptoms
      </h2>

    </div>


    <div class="row">
      <div class="col-1-of-2">
        <p class="paragraph">
          <div class="column3"> Increased Hunger </div>
          <div class="column3"> Increased Thirst </div>
          <div class="column3"> Weight Loss </div>
          <div class="column3"> Frequent Urination </div>
          <div class="column3"> Blurry Vision </div>
          <div class="column3"> Extreme Fatigue </div>
        </p>

      </div>

      <div class="col-1-of-2">
        <div class="composition">

          <!-- 1em = 16px -->
          <img src="../static/images/diabetes_symp.png" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo1" class="composition_photo composition_photo--p1">
        </div>
      </div>
    </div>

  </div>

  <div class="prec">

    <!-- Utility Class to center text and give margin bottom to h2 -->
    <div class="u-center-text u-margin-bottom-big">

      <h2 class="heading-secondary">
        Precautions
      </h2>

    </div>


    <div class="row">
      <div class="col-1-of-2">
        <p class="paragraph">
          <div class="column3"> Walking </div>
          <div class="column3"> 150 minutes per week of Aerobic Exercise </div>
          <div class="column3"> Cycling </div>
          <div class="column3"> Eat Fruits, Vegetables & Whole Grains </div>
          <div class="column3"> Eat smaller portions </div>
          <div class="column3"> Try to lose 7 percent of your body weight </div>
        </p>

      </div>

      <div class="col-1-of-2">
        <div class="composition">

          <!-- 1em = 16px -->
          <img src="../static/images/diabetes_prec.png" sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px" alt="Photo1" class="composition_photo composition_photo--p1">
        </div>
      </div>
    </div>

  </div>
</section>

  <!-- Prediction and Tests and Results -->

  <div class="prediction">
    <h1 class='preddhead'> Tests </h1>
    <form class="" action="{{url_for('diabetes_result')}}" method="POST" id="upload_data">
      <div class="row">



        <div class="column">
          <div class="card">
            <label for="">Pregnancies</label>
            <input type="text" name="pregnancy" value="" placeholder="Number of Pregnancies">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Glucose </label>
            <input type="text" name="glucose" value="" placeholder="Glucose concentration">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Blood Pressure </label>
            <input type="text" name="blood_pressure" value="" placeholder="Blood Pressure">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Skin Thickness </label>
            <input type="text" name="skin_thickness" value="" placeholder="Skin Thickness">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Insulin </label>
            <input type="text" name="insulin" value="" placeholder="Insulin">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> BMI </label>
            <input type="text" name="bmi" value="" placeholder="BMI">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Diabetes Pedigree Function </label>
            <input type="text" name="diabetes_pred" value="" placeholder="Diabetes Pedigree Function">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Age </label>
            <input type="text" name="age" value="" placeholder="Age">
          </div>
        </div>
        <div class="column">
          <div class="card">
            <label for=""> Skin </label>
            <input type="text" name="skin" value="" placeholder="skin">
          </div>
        </div>
      </div>
      <button class="formBut btn btn-outline-dark btn-lg" type="submit" name="button"> PREDICT </button>
      <button class="formBut btn btn-outline-danger btn-lg" type="reset" name="button"> RESET </button>
    </form>

    <button class="btn btn-outline-primary btn-lg goto" type="submit" name="button"><a class="home1" href = "{{url_for('home_view')}}"> GOTO HOME PAGE</a> </button>
  </div>


  <!-- footer -->

  <div id='about' class="footer">
    <div class="row">
      <div class="abt may col-lg-6">
        <h4 class='footName'> Mayank Agarwal </h4>
        <a class="con linked" href="#"> <i class="fab fa-linkedin fa-2x"></i> </a>
        <a class="con github" href="#"> <i class="fab fa-github-square fa-2x"></i> </a>
        <a class="con mailing" href="#"> <i class="fas fa-envelope fa-2x"></i> </a>
      </div>
      <div class="abt divy col-lg-6">
        <h4 class='footName'> Divyang Mishra </h4>
        <a class="con linked" href="#"> <i class="fab fa-linkedin fa-2x"></i> </a>
        <a class="con github" href="#"> <i class="fab fa-github-square fa-2x"></i> </a>
        <a class="con mailing" href="#"> <i class="fas fa-envelope fa-2x"></i> </a>
      </div>

    </div>
    <p class='copyrit'> @Copyright 2020</p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="index.js" type="text/javascript">

  </script>
</body>


</html>
